# 01- What kind of data does pandas handle?

# Pandas
In computer programming, pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD licens

In [29]:
#import pandas modlue 
import pandas as pd

To load the pandas package and start working with it, import the package. The community agreed alias for pandas is pd, so loading pandas as pd is assumed standard practice for all of the pandas documentation.

## pandas data table representation
<img src="df-img.png">

In [12]:
#from IPython.core.display import HTML
#css=open('style-table.css').read()
#+open('style-notebook.css')
#HTML('<style>{}</style>'.format(css))

I want to store passenger data of the Titanic. For a number of passengers, I know the name (characters), age (integers) and sex (male/female) data

In [31]:
#dictionar
dic={"Name":["Musfira","Umair","M. Ali Jinnah"],"age":[40,30,20],"gender":["female","male","male"]}
dic

{'Name': ['Musfira', 'Umair', 'M. Ali Jinnah'],
 'age': [40, 30, 20],
 'gender': ['female', 'male', 'male']}

In [32]:
#convert a dictionary into a Pandas DataFrame 
df=pd.DataFrame(dic)

In [33]:
#print df
df

            Name  age  gender
0        Musfira   40  female
1          Umair   30    male
2  M. Ali Jinnah   20    male

# Each column in a DataFrame is a Series
<img src='s-img.png'>

I’m just interested in working with the data in the column Age

In [34]:
df['age']

0    40
1    30
2    20
Name: age, dtype: int64

When selecting a single column of a pandas DataFrame, the result is a pandas Series. To select the column, use the column label in between square brackets []

You can create a Series from scratch as well:

In [35]:
ages=pd.Series([40,30,20],name="age")

In [36]:
#print age series
ages

0    40
1    30
2    20
Name: age, dtype: int64

A pandas Series has no column labels, as it is just a single column of a DataFrame. A Series does have row labels.

# Do something with a DataFrame or Series

I want to know the maximum Age of the passengers<br>
We can do this on the DataFrame by selecting the Age column and applying max():

In [37]:
df['age'].max()

40

Or to the Series:

In [38]:
ages.max()

40

As illustrated by the max() method, you can do things with a DataFrame or Series. pandas provides a lot of functionalities, each of them a method you can apply to a DataFrame or Series. As methods are functions, do not forget to use parentheses ().<br>
I’m interested in some basic statistics of the numerical data of my data table

In [39]:
df.describe()

        age
count   3.0
mean   30.0
std    10.0
min    20.0
25%    25.0
50%    30.0
75%    35.0
max    40.0

The describe() method provides a quick overview of the numerical data in a DataFrame. As the Name and Gender columns are textual data, these are by default not taken into account by the describe() method.

# REMEMBER
Import the package, aka import pandas as pd <br>

A table of data is stored as a pandas DataFrame <br>

Each column in a DataFrame is a Series<br>

You can do things by applying a method to a DataFrame or Series